.div-content-box{
    margin:15px;
}
input[type="text"],
input[type="date"],
input[type="number"],
select,
.span-box,
input[type="checkbox"]{
    position: absolute;
    left: 200px;
}

input[type="text"]{
    width: 300px;
    height: 25px;
}

input[type="number"],
input[type="date"]{
    width: 130px;
    height: 25px;
}
textarea{
    width: 480px;
}

.error{
    border: 2px solid red;
}
.noterror{
    border: 2px solid green;
}

input[type="checkbox"].error{
    box-shadow: 0 0 5px red inset;
}
input[type="checkbox"].noterror{
    box-shadow: 0 0 5px green inset; 
}
input[type="radio"].error{
    box-shadow: 0 0 5px red inset;
}
input[type="radio"].noterror{
    box-shadow: 0 0 5px green inset; 
}
.develop-err,.name-site-err,.url-err,.email-err,.checkbox-err,
.radio-err,.select-err{
    position: absolute;
    left: 520px;
    color: red;
}
.textarea-err{
    color: red;
    position: absolute;
    left: 520px;
    top: 360px;
}
.colvo-err,.date-err{
    position: absolute;
    left: 350px;
    color: red;
}
